/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ccc;
  padding: 20px;
  height: 17vh;
}

header .links a {
  margin-left: 30px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 2rem;
}

header .links a:hover {
  color: #aaa;
}
