<footer>
  <div id="author-img">
    <img src="../assets/images/author-photo.jpg" />
  </div>
  <div id="links-profile">
    <a href="https://github.com/jeanmrtns" target="_blank">Github</a>
    <a
      href="https://www.linkedin.com/in/jean-martins-8648111b7/"
      target="_blank"
      >LinkedIn</a
    >
  </div>
  <div id="infos">
    <p id="copyright">&copy; Copyright Jean Martins - 2020</p>
  </div>
</footer>
