<div>
  <div class="col-lg-3 col-md-6 container">
    <h5 class="text-uppercase">Redes Sociais</h5>

    <ul class="list-unstyled">
      <hr />
      <li>
        <a
          href="https://github.com/jeanmrtns"
          rel="nofollow"
          target="_blank"
          class="text-dark"
          ><i class="fab fa-github me-2"></i>GitHub</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/jeanmrtns4/"
          rel="nofollow"
          target="_blank"
          class="text-dark"
          ><i class="fab fa-facebook me-2"></i>Facebook</a
        >
      </li>
      <li>
        <a
          href="https://twitter.com/JeanMrtns4"
          rel="nofollow"
          target="_blank"
          class="text-dark"
          ><i class="fab fa-twitter me-2"></i>Twitter</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright
    <p class="text-dark">Jean Martins</p>
  </div>
</div>
