<div class="navbar bg-light p-3">
  <a class="f-left" href="/"><img src="../assets/images/logo.png" /></a>
  <nav class="navbar navbar-light bg-light">
    <a href="/" class="nav-link fs-4 link-dark">Home</a>
    <a href="/contato" class="nav-link fs-4 link-dark">Contact</a>
    <a href="/sobre" class="nav-link fs-4 link-dark">About</a>
  </nav>
</div>
