<header>
  <a href="/"><img src="../assets/images/logo.png" class="image-logo" /></a>
  <nav class="links">
    <a href="/">Home</a>
    <a href="/contato">Contact</a>
    <a href="/sobre">About</a>
  </nav>
</header>
