<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/footer.css" />
    <link rel="stylesheet" href="./styles/sobre.css" />
    <title>Sobre</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="caixa">
        <h1>Jean Antônio Martins</h1>
        <div class="about-me">
          <p>
            A aprendizagem de novas tecnicas e tecnologias são minhas obsessões.
            Vários cursos, tutoriais e leituras foram consumidos para o
            desenvolvimento desta página.
          </p>
          <p>
            Minha ideia é de começar um serviço como Freelancer primeiro para
            adquirir experiência, para então ser capaz de ingressar em algo
            "maior".
          </p>
          <p>
            Por favor, se você está gostando do que está vendo, me dê uma
            estrela no repositório do Github. Isso vai me ajudar muito!
          </p>
          <p>Obrigado pela ajuda!</p>
          <p>
            Qualquer dúvida ou crítica (construtiva), por favor entre em
            contato!
          </p>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
